html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
}

.col, .row {
    display: flex;
    min-height: 0; /* allows children to be scrollable */
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    flex: 1;
}

.box {
    padding: 8px;
    outline: 1px solid currentcolor;
}

.box, .gap {
    gap: 8px;
}

.scroll {
    overflow-y: scroll;
}

.scroll > * {
    /* https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content/69889010#69889010 */
    flex-shrink: 0;
}

.selected {
    opacity: 0.5;
}

.char-input {
    width: 2em;
}

.thumbnail {
    width: 4em;
    height: 4em;
    border: 1px solid currentcolor;
}

input {
    color: inherit;
    background: inherit;
    border: 1px solid currentcolor;
    font-size: inherit;
}

path {
    fill: currentcolor;
}

body, h2 {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}
