html, body, #app {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    background: currentcolor;
    /* Prevent scrolling */
    overflow: hidden;
    position: fixed;
}

.col, .row {
    display: flex;
    min-height: 0; /* allows children to be scrollable */
    gap: 2px;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    flex: 1;
}

.box {
    padding: 8px;
}

.box, .gap {
    gap: 8px;
}

.scroll {
    overflow-y: scroll;
}

.scroll > * {
    /* https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content/69889010#69889010 */
    flex-shrink: 0;
}

.selected {
    opacity: 0.5;
}

.char-input {
    width: 2em;
}

.thumbnail {
    width: 4em;
    height: 4em;
    border: 1px solid currentcolor;
}

.glyph-large {
    flex: 1;
    position: relative; /* shrink svg to fit */
}

.glyph-large-inner {
    position: absolute; /* shrink svg to fit */
    height: 100%;
    border-right: 2px solid currentcolor;
}

input {
    color: inherit;
    background: inherit;
    font-size: inherit;
    width: 100%;
}

input[type="text"] {
    border: 1px solid currentcolor;
}

button, input[type="file"] {
    height: 32px;
    font-size: 1rem;
    width: initial;
}

path, circle {
    fill: currentcolor;
}

body, h2 {
    margin: 0;
}

svg {
    transform-origin: 50% 50%;
    transform: scale(1,-1);
}

.test-glyph {
    height: 48px;
    padding: 64px 0 32px 0;
    display: flex;
    justify-content: center;
}

.test-glyph-inner {
    height: 100%;
}

/* Colors */

.box, .glyph-large {
    background: white;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
    }

    .box, .glyph-large {
        background: black;
    }
}
